<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <!--对容器对象Context的说明,对应节点Context 完全限定名和所在程序集-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <!--需要创建的类objects节点的说明和操作,对应节点objects 完全限定名和所在程序集-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <spring>
    <!--容器类IApplicatoinContext 的说明-->
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="file://spring.xml"/>
    </context>
    <objects></objects>
  </spring>
</configuration>